
src/.scannerwork/
src/sonarqube.bat
sonar-project.properties
node_modules/
.vite/
dist/
package-lock.json
/.idea
.vscode/settings.json
/test.html
/test.json
/webstore
/.vscode
/.claude
/.claude-dev-helper
/x.html