@config "../../tailwind.config.js";
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

.heading_selector {
  cursor: pointer;
}
.heading_selector:hover {
  font-weight: bold;
}

.selected_heading {
  color: #3abff8;
  font-weight: bold;
}

.unselected_headings {
  color: inherit;
}
