body {
    color-scheme: light dark;
    background: url("./background.webp") no-repeat fixed center center;
    background-size: cover;
}

.login-block {
    width: 320px;
    padding: 20px;
    background: light-dark(oklch(8% 0.02 264), oklch(8% 0.02 264));
    border-radius: 5px;
    border-block-start: 5px solid oklch(58% 0.09 230);
    margin-block-end: 20px;
    margin-inline: auto;
    color: light-dark(oklch(95% 0 0), oklch(95% 0 0));
}

.login-block h1 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    margin-block: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-wrap: balance;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid oklch(80% 0 0);
    margin-block-end: 20px;
    font-size: 14px;
    padding-inline-start: 5px;
    outline: none;
    color: oklch(10% 0 0);
}

.login-block input:active,
.login-block input:focus {
    border: 1px solid oklch(10% 0 0);
}

.login-block button {
    width: 100%;
    height: 40px;
    background: light-dark(oklch(65% 0.19 20), oklch(35% 0.18 278));
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid light-dark(oklch(62% 0.17 20), oklch(15% 0.08 20));
    color: oklch(95% 0 0);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: light-dark(oklch(69% 0.17 20), oklch(44% 0.22 278));
}

.noicon {
    background: oklch(90% 0.06 168);
}

.accept {
    background: oklch(90% 0.06 168) url("./images/accept.png") right no-repeat;
    padding-inline-end: 5px;
}

.deny {
    background: oklch(90% 0.06 168) url("./images/deny.png") right no-repeat;
    padding-inline-end: 5px;
}

.wait {
    background: oklch(90% 0.06 168) url("./images/spinner.gif") right no-repeat;
    padding-inline-end: 5px;
}

#error {
    margin-block-start: 1em;
    font-size: 2em;
    font-weight: bold;
    color: red;
    text-align: center;
}

#msg {
    font-size: 1.5em;
    text-align: center;
}

#description {
    font-size: 1.0em;
    text-align: center;
}
